<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="RoboBackup Tool" 
             Version="1.0.0.0" 
             Manufacturer="RoboBackup Development Team"
             UpgradeCode="dddb19d1-da76-4e5b-9b63-a92b2204c4a4"
             Language="1033"
             Compressed="yes">

    <MajorUpgrade DowngradeErrorMessage="A newer version of RoboBackup Tool is already installed." />
    
    <MediaTemplate EmbedCab="yes" />

    <!-- Per-machine installation (ProgramFilesFolder) - Admin privileges required -->
    <StandardDirectory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="RoboBackup Tool">
            
            <!-- Main Application Files -->
            <Component Id="MainApplication" Guid="44444444-4444-4444-4444-444444444444">
                <File Id="BackupAppExe" 
                      Name="backupapp.exe" 
                      Source="$(var.SourceDir)\backupapp.exe" 
                      KeyPath="yes" />
                
                <File Id="BackupCoreExe" 
                      Name="backup_core.exe" 
                      Source="$(var.SourceDir)\backup_core.exe" />
                
                <!-- backup_service.exe will be added in v1.1.0; excluded from v1.0.0 packaging -->
                
                <!-- Documentation -->
                <File Id="ReadmeMd" 
                      Name="README.md" 
                      Source="$(var.SourceDir)\README.md" />
                <File Id="AboutMd" 
                      Name="ABOUT.md" 
                      Source="$(var.SourceDir)\ABOUT.md" />
                <File Id="License" 
                      Name="LICENSE" 
                      Source="$(var.SourceDir)\LICENSE" />
            </Component>
            
            <!-- Assets Directory -->
            <Directory Id="AssetsFolder" Name="assets">
                <Component Id="AssetsComponent" Guid="12345678-1234-1234-1234-123456789012">
                    <File Id="RobotIcon" 
                          Name="robot_copier.ico" 
                          Source="$(var.SourceDir)\assets\robot_copier.ico" 
                          KeyPath="yes" />
                    <File Id="RobotPng" 
                          Name="robot_copier.png" 
                          Source="$(var.SourceDir)\assets\robot_copier.png" />
                </Component>
            </Directory>
            
            <!-- Configuration Directory -->
            <Directory Id="ConfigFolder" Name="config">
                <Component Id="ConfigComponent" Guid="87654321-4321-4321-4321-210987654321">
                    <File Id="AppSettingsJson" 
                          Name="app_settings.json" 
                          Source="$(var.SourceDir)\config\app_settings.json" 
                          KeyPath="yes" />
                    <File Id="ConfigJson" 
                          Name="config.json" 
                          Source="$(var.SourceDir)\config\config.json" />
                </Component>
            </Directory>
            

        </Directory>
    </StandardDirectory>
    
    <!-- Start Menu Shortcuts - Per User -->
    <StandardDirectory Id="StartMenuFolder">
        <Directory Id="ProgramMenuDir" Name="RoboBackup Tool">
            <Component Id="StartMenuShortcuts" Guid="22222222-2222-2222-2222-222222222222">
                <Shortcut Id="StartMenuBackupApp" 
                          Name="RoboBackup Tool" 
                          Description="Launch RoboBackup Tool"
                          Target="[INSTALLFOLDER]backupapp.exe"
                          WorkingDirectory="INSTALLFOLDER" />
                
                <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            </Component>
        </Directory>
    </StandardDirectory>
    
    <!-- Desktop Shortcut - Per User -->
    <StandardDirectory Id="DesktopFolder">
        <Component Id="DesktopShortcut" Guid="33333333-3333-3333-3333-333333333333">
            <Shortcut Id="DesktopBackupApp" 
                      Name="RoboBackup Tool" 
                      Description="Launch RoboBackup Tool"
                      Target="[INSTALLFOLDER]backupapp.exe"
                      WorkingDirectory="INSTALLFOLDER" />
        </Component>
    </StandardDirectory>
    
    <!-- Feature Tree -->
    <Feature Id="ProductFeature" 
             Title="RoboBackup Tool" 
             Level="1"
             Description="RoboBackup Tool - Professional Windows Backup Solution">
        
        <ComponentRef Id="MainApplication" />
        <ComponentRef Id="AssetsComponent" />
        <ComponentRef Id="ConfigComponent" />
        <ComponentRef Id="StartMenuShortcuts" />
        <ComponentRef Id="DesktopShortcut" />
        <ComponentRef Id="RegistryEntries" />
    </Feature>
    
        <!-- UI Properties -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <!-- UAC and Admin Properties -->
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    <Property Id="INSTALL_PRIVILEGES" Value="elevated" />
    <Property Id="INSTALL_SCOPE" Value="perMachine" />

    <!-- Include WiX UI -->
    <UIRef Id="WixUI_InstallDir" />

    <!-- Registry entries for uninstall information -->
    <DirectoryRef Id="INSTALLFOLDER">
        <Component Id="RegistryEntries" Guid="55555555-5555-5555-5555-555555555555">
            <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\RoboBackup Tool">
                <RegistryValue Name="DisplayName" Value="RoboBackup Tool" Type="string" />
                <RegistryValue Name="DisplayVersion" Value="1.0.0.0" Type="string" />
                <RegistryValue Name="Publisher" Value="RoboBackup Development Team" Type="string" />
                <RegistryValue Name="InstallLocation" Value="[INSTALLFOLDER]" Type="string" />
                <RegistryValue Name="UninstallString" Value="msiexec /x [ProductCode]" Type="string" />
                <RegistryValue Name="NoModify" Value="1" Type="integer" />
                <RegistryValue Name="NoRepair" Value="1" Type="integer" />
            </RegistryKey>
        </Component>
    </DirectoryRef>
    
    </Package>
</Wix>
